BMPBACKGROUND bitmap "BackGround.bmp"
BMPCARDBACK bitmap "CardBack.bmp"
BMPPOKEBACKGROUND bitmap "PokeBackGround.bmp"
BMPSPIDER bitmap "Spider.bmp"
BMPINFORBACKGROUND bitmap "InfoBackGround.bmp"
SOUND1 wave "1.wav"
SOUND2 wave "2.wav"
SOUND3 wave "3.wav"
SOUND4 wave "4.wav"
SOUND5 wave "5.wav"
SOUND6 wave "6.wav"
BMPPOKE0_0 bitmap "0_0.bmp"
BMPPOKE1_1 bitmap "1_1.bmp"
BMPPOKE1_2 bitmap "1_2.bmp"
BMPPOKE1_3 bitmap "1_3.bmp"
BMPPOKE1_4 bitmap "1_4.bmp"
BMPPOKE2_1 bitmap "2_1.bmp"
BMPPOKE2_2 bitmap "2_2.bmp"
BMPPOKE2_3 bitmap "2_3.bmp"
BMPPOKE2_4 bitmap "2_4.bmp"
BMPPOKE3_1 bitmap "3_1.bmp"
BMPPOKE3_2 bitmap "3_2.bmp"
BMPPOKE3_3 bitmap "3_3.bmp"
BMPPOKE3_4 bitmap "3_4.bmp"
BMPPOKE4_1 bitmap "4_1.bmp"
BMPPOKE4_2 bitmap "4_2.bmp"
BMPPOKE4_3 bitmap "4_3.bmp"
BMPPOKE4_4 bitmap "4_4.bmp"
BMPPOKE5_1 bitmap "5_1.bmp"
BMPPOKE5_2 bitmap "5_2.bmp"
BMPPOKE5_3 bitmap "5_3.bmp"
BMPPOKE5_4 bitmap "5_4.bmp"
BMPPOKE6_1 bitmap "6_1.bmp"
BMPPOKE6_2 bitmap "6_2.bmp"
BMPPOKE6_3 bitmap "6_3.bmp"
BMPPOKE6_4 bitmap "6_4.bmp"
BMPPOKE7_1 bitmap "7_1.bmp"
BMPPOKE7_2 bitmap "7_2.bmp"
BMPPOKE7_3 bitmap "7_3.bmp"
BMPPOKE7_4 bitmap "7_4.bmp"
BMPPOKE8_1 bitmap "8_1.bmp"
BMPPOKE8_2 bitmap "8_2.bmp"
BMPPOKE8_3 bitmap "8_3.bmp"
BMPPOKE8_4 bitmap "8_4.bmp"
BMPPOKE9_1 bitmap "9_1.bmp"
BMPPOKE9_2 bitmap "9_2.bmp"
BMPPOKE9_3 bitmap "9_3.bmp"
BMPPOKE9_4 bitmap "9_4.bmp"
BMPPOKE10_1 bitmap "10_1.bmp"
BMPPOKE10_2 bitmap "10_2.bmp"
BMPPOKE10_3 bitmap "10_3.bmp"
BMPPOKE10_4 bitmap "10_4.bmp"
BMPPOKE11_1 bitmap "11_1.bmp"
BMPPOKE11_2 bitmap "11_2.bmp"
BMPPOKE11_3 bitmap "11_3.bmp"
BMPPOKE11_4 bitmap "11_4.bmp"
BMPPOKE12_1 bitmap "12_1.bmp"
BMPPOKE12_2 bitmap "12_2.bmp"
BMPPOKE12_3 bitmap "12_3.bmp"
BMPPOKE12_4 bitmap "12_4.bmp"
BMPPOKE13_1 bitmap "13_1.bmp"
BMPPOKE13_2 bitmap "13_2.bmp"
BMPPOKE13_3 bitmap "13_3.bmp"
BMPPOKE13_4 bitmap "13_4.bmp"